<div>
  <form action="/urls" method="POST">
    <input type="text" name="long_url">
    <button type="submit">Shorten it</button>
  </form>
</div>
<div>
  <% if @errors %>
    <% @errors.each do |error|  %>
    <span id="errors"><%= error %></span>
    <% end %>
  <ul>
  <% end %>
      <% @urls.each do |url_object| %>
      <li><%= url_object.long_url  %><br><a href="/urls/<%= url_object.short_url %>">http://localhost.9393/<%= url_object.short_url %></a>  Visit: <%= url_object.counter  %></li>
      <% end %>
  </ul>
</div>
